html{
    box-sizing: border-box;
	font-weight: 400px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

tr{
	background-color: #fff; 
	font-size: 24px;
	border: 2px solid #000;
	color:  black;
}

td{
	padding: 15px;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
	position: fixed;
	width: 100%;
	z-index: 100;
}

.nav{
	display: flex;
    align-items: center;
    height: 80px;
	padding: 10px;
	justify-content: space-between;
	background-color: #D32E0B;
}

.logo_img{
	width: 150px;
	height: 75px;
}

.info_list{
	font-weight: 700;
	font-size: 24px;
}

.user_icon{
	width: 45px;
	height: 45px;
	padding: 10px;
}
.user_icon_link{
	transition: all 0.3s ease 0s;
	margin-right: 20px;
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.user_icon_link:hover {
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-7px);
  border-radius: 50%;
}

.main_photo{
	width: 100%;
	height: 100vh;
	background-image: url('../img/main_photo.jpg');
	color: rgba(0, 0, 0, 0.7);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.main_photo::after{
    content: '';
    background: rgba(21, 21, 21, .4);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main_photo_title{
	position: absolute;
	top: 45%;
	left: 32%;
	z-index: 2;
	text-align: center;
	padding: 10px;
	color: 	#C85A0E;
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	border: 6px double;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main_photo_title:hover {
  box-shadow: 0 0 5px rgb(200, 90, 14),
              0 0 25px rgb(200, 90, 14),
              0 0 50px rgb(200, 90, 14),
              0 0 100px rgb(200, 90, 14);
}

.gallery{
	margin: 40px 0;
}

.slider{
	text-align: center;
}

.swiper-button-next, .swiper-button-prev {
    color: #C85A0E !important;
	transition: all 0.5s ease;
	width: 80px !important; 
	height: 80px !important;
	border-radius: 50%;
	text-align: center;
}

.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 64px !important;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
	background-color: black;
}

.swiper-slide img{
	width: 900px;
	height: 500px;
	border: 7px double #C85A0E;
}

.swiper-slide{
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.grid_structure{
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2,1fr); 
	justify-items: center;
}

.abonements{
	margin: 40px 0 80px;
}

.section_title{
	margin-bottom: 40px;
	font-size: 48px;
	color: #D32E0B;
}

.abonement_item{
	width: 550px;
	height: 100px;
	padding: 20px 0 0 20px;
	border-radius: 20px;
	background: linear-gradient(90deg, rgba(98,3,3,1) 0%, rgba(211,46,11,1) 100%);
	box-shadow:  1px -1px 0px #4b4b4b, -1px 1px 0px #5d5d5d;
	transition: all 0.5s ease;
	color: white;
}

.abonement_item h3{
	padding-bottom: 10px;
}

.abonement_item:hover{
	box-shadow:  5px -5px 0px #4f4f4f, -5px 5px 0px #595959;
}

.flex_button{
	display: flex;
	justify-content: space-between;
}

.flex_button div{
	display: flex;
	flex-direction: column;
}

.reg_button{
  padding: 10px 30px;
  border-radius: 100px;
  background-color: #C85A0E;
  color: #ffffff;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}

.reg_button:hover {
  background-color: #FF7414;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.reg_button:active {
  background-color: #964711;
  transition: all 0.25s;
  transform: scale(0.9);
}

.popup .overlay{
  position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 180px;
  z-index: 2;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  color: black;
  white-space: nowrap;
}

.popup .content .reg_button{
	margin-top: 20px;
}

.popup .close_btn{
  cursor: pointer;
  position:absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color:#fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.popup .close_btn:hover{
	transform: scale(1.1);
	background: black;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all .3s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.services{
	background-color: black;
	color: white;
	padding: 40px 0;
}

.services_title{
	font-size: 48px;
	margin-bottom: 40px;
}

.card{
  position: relative;
  width: 500px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.6s ease;
}

.card img{
	height: 400px;
	width: 498px;
	 transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_title{
	background-color: #D32E0B;
	padding: 20px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}

.card_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 85.5%;
  bottom: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  transform: rotateY(-90deg);
  transform-origin: left;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.card_content button{
	padding: 20px 40px;
	font-size: 20px;
}

.card:hover .card_content {
  transform: rotateX(0deg);
}

.card_description {
  margin: 10px 0 0;
  font-size: 24px;
  text-align: center;
  color: white;
}

.popup_trainer .overlay{
  position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup_trainer .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 180px;
  z-index: 2;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  color: black;
  white-space: nowrap;
}

.popup_trainer .content .reg_button{
	margin-top: 20px;
}

.popup_trainer .close_btn{
  cursor: pointer;
  position:absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color:#fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.popup_trainer .close_btn:hover{
	transform: scale(1.1);
	background: black;
}

.popup_trainer.active .overlay {
  display: block;
}

.popup_trainer.active .content {
  transition: all .3s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.trainers{
	margin: 40px 0;
	position: relative;
}

.trainer_png_item{
	position: absolute;
	right: 0;
	top: -30px;
	width: 240px;
	height: 180px;
}

.trainers_block{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.trainer_card{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px;
}

.trainer_jpg{
	width: 200px;
	height: 300px;
	transition: all 0.6s ease;
}

.default_p{
	font-size: 24px;
	color: #4b4553;
	padding: 0 10px;
}

.trainer_jpg:hover{
	box-shadow: -6px 5px 5px 0px rgba(0,0,0,0.75);
}

.popup_trainer_card .trainer_jpg:hover{
	box-shadow: none;
}

.popup_trainer_card .overlay{
  position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup_trainer_card .content {
	display: flex;
	flex-direction: start;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	max-width: 500px;
	height: 320px;
	z-index: 2;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	color: black;
	white-space: nowrap;
}

.popup_trainer_card .content .reg_button{
	margin-top: 20px;
}

.popup_trainer_card .close_btn{
  cursor: pointer;
  position:absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #222;
  color:#fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.popup_trainer_card .close_btn:hover{
	transform: scale(1.1);
	background: black;
}

.popup_trainer_card .content_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	white-space: pre-line;
	padding: 10px;
	margin-top: 20px;
	font-size: 18px;
}

.popup_trainer_card.active .overlay {
  display: block;
}

.popup_trainer_card.active .content {
  transition: all .3s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.contacts{
	margin: 40px 0;
}

.contact_content{
	display: flex;
}

.contact_content img{
	width: 650px;
	height: 375px;
}

.contact_text{
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 20px;
	width: 200px;
	justify-content: space-between;
}

.footer_nav{
	justify-content: center;
	margin: 0;
}

/*
_____________________
| _________________ |
|/			  	   \|
||registration page||
|\_________________/|
|___________________|	
  
*/
/*
________________
| ____________ |
|/			  \|
||profile page||
|\____________/|
|______________|	
  
*/

.body_profile{
	background-color: #000;
}

.body_profile .header{
	position: relative;
}

.body_profile .section_title{
	font-size: 36px;
}

.user_info{
	color: #fff;
	margin: 40px 0;
	text-align: center;
}

.user_info_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;	
}

.nickname{
	font-size: 36px;
}

.user_services{
	font-size: 24px;
	margin: 20px 0 0;
}

.registration_form_block{
	max-width: 600px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}

.registration_form_block form{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.registration_form_block form input[name = "username"],
.registration_form_block form input[name = "password"]{
	font-size: 24px;
	border: 2px solid #C85A0E;
}	

.submit_buttons{
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.body_registration{
	background-color: #000;
}

.purchase_history{
	margin: 20px 0;
}